<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="../vue_note/node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id='app'></div>
    <div id="privacy"></div>
    <div id="communication"></div>
    <div id='my_filter'></div>
    <div id="watch"></div>
    <div id="computed"></div>
    <div id="slot"></div>
    <div id="definite_slot"></div>
    <div id="life_cycle"></div>
    <script>
        // 全局注册组件
        Vue.component("publish-component", {
            template: `
                <section>
                    <h1>我是公共组件</h1>
                    <hr>
                </section>
            `,
        });
        new Vue({
            el: '#app',
            components: {},
            template: `<publish-component></publish-component>`, //可直接使用，不用再在components中注册
        })
        //局部注册组件
        //var Temp = Vue.extend ({}); 创建组件
        var Temp = {
            template: `
                <section>
                    <h1>我是局部组件</h1>
                    <hr>
                </section>
            `,
        };
        new Vue({
            el: '#privacy',
            components: {
                'privacy-component': Temp
            },
            template: `<privacy-component></privacy-component>`,
        })
        // 组件间的通信：

        // 父向子传递数据
        var Son = {
            props: ['title'],
            template: `
                <h1>我的名字叫{{title}}</h1>
            `
        }
        var Father = {
            components: {
                son: Son
            },
            template: `
                <div>
                    <son :title = "name"></son>
                    <hr/>
                </div>
            `,
            data: function () {
                return {
                    name: "Ethan"
                }
            }
        }
        new Vue({
            el: '#communication',
            components: {
                father: Father
            },
            template: `<father/>`
        })
        //过滤器

        //组件内过滤器
        var myFilter = {
            template: `
                <div>
                    <input type='text' v-model="myText" />
                    {{ myText | reverse('En') }}
                    <hr/>
                </div>
            `,
            data: function () {
                return {
                    myText: ''
                }
            },
            //组件内的过滤器
            filters: {
                reverse: function (dataStr, lang) { //参数1为原数据,以后为reverse参数
                    return lang + ':' + dataStr.split('').reverse().join('');
                }
            }
        }
        new Vue({
            el: '#my_filter',
            components: {
                myfilter: myFilter
            },
            template: `<myfilter />`
        })
        //监听改动

        //watch
        var Watch = {
            template: `
                <div>
                    <input type="text" v-model="myText" />
                    {{myText}}
                    <hr/>
                    <input type="text" v-model="stus[0].name" />
                    <button @click="stus[0].name='Ethan';">改变stus[0].name属性</button>
                    <hr/>
                </div>
            `,
            data: function () {
                return {
                    myText: 'wx',
                    stus: [{
                        name: 'wx'
                    }]
                }
            },
            watch: {
                //key为要监视的data属性名，val为监视后的行为
                myText: function (newV, oldV) { //监视基础数据类型
                    console.log('新的属性值：', newV, '旧的属性值：', oldV)
                    if (newV === 'Ethan') {
                        alert('yep,that\'s me too!')
                    }
                },
                // 监视复杂数据类型(深度监视)
                stus: {
                    deep: true,
                    handler: function (newV) {
                        alert('深度监视成功!')
                    }
                }

            }
        }
        new Vue({
            el: '#watch',
            components: {
                watch: Watch
            },
            template: `<watch />`
        })

        // computed计算属性(监视多个属性)

        var Computed = {
            template: `
                <div>
                    （<input type="text" v-model="n1" />+
                    <input type="text" v-model="n2" />）*
                    <input type="text" v-model="rate" /> = {{ result }}
                    <hr/>
                </div>
            `,
            data: function () {
                return {
                    n1: 0,
                    n2: 0,
                    rate: 0
                }
            },
            computed: {
                //包含原值不变，缓存不调函数的优化机制
                result: function () {
                    //监视对象写在了函数内部，凡是函数内部有'this.'相关属性改变都会出发当前函数。
                    return ((this.n1 - 0) + (this.n2 - 0)) * this.rate;
                }
            }
        }

        new Vue({
            el: '#computed',
            components: {
                computed: Computed
            },
            template: `<computed />`
        })

        //vue内部slot组件

        var Slot = {
            template: `
                <li style="list-style: none;">
                    <slot></slot>
                </li>
            `,
            data: function () {
                return {}
            },
        }

        new Vue({
            el: '#slot',
            components: {
                'my-slot': Slot
            },
            template: `
                <div>
                    <ul>
                        <my-slot><h1>张三</h1></my-slot>
                        <my-slot><h1>李四</h1></my-slot>
                        <my-slot><h1>王五</h1></my-slot>
                    </ul>
                    <hr>
                </div>
            `
        })

        //具名slot

        var definiteSlot = {
            template: `
                <li style="list-style: none;">
                    姓名：
                    <slot name="one"></slot>
                    年龄：
                    <slot name="two"></slot>
                </li>
            `,
            data: function () {
                return {}
            },
        }

        new Vue({
            el: '#definite_slot',
            components: {
                'definite-slot': definiteSlot
            },
            template: `
                <div>
                    <ul>
                        <definite-slot>
                            <h1 slot="one">张三</h1>
                            <p slot="two">99</p>
                        </definite-slot>
                        <definite-slot><h1>李四</h1></definite-slot>
                    </ul>
                    <hr>
                </div>
            `
        })
        //生命周期函数
        var lifeCycle = {
            template: `
                <div class="life-cycle">
                    <div>生命周期函数</div>{{text}}
                    <button @click="text=text+1;">更改数据</button>
                    <hr/>
                </div>
            `,
            data: function() {
                return {
                    text: 'hello,world!'
                }
            },
            beforeCreate: function() {
                // 组件创建之前
                console.log('组件创建之前data中的数据：',this.text)
            },
            created: function() {
                //组件创建之后
                console.log('组件创建之后data中的数据：',this.text)
            },
            beforeMount: function() {
                // vue起作用，装载数据到DOM之前
                console.log('装载之前：',document.body)
            },
            mounted: function() {
                // vue起作用，装载数据到DOM之后
                console.log('装载之后：',document.body)
            },
            beforeUpdate: function() {
                console.log(this.text)
            },
            updated: function() {
                console.log(this.text)
            },
            beforeDestroy: function() {
                console.log('组件销毁之前')
            },
            destroyed: function() {
                console.log('组件销毁之后')
            },
            activated: function() {
                console.log('组件的激活')
            },
            deactivated: function() {
                console.log('组件的停用')
            }
        }
        var Star = {
            components: {
                'life-cycle': lifeCycle
            },
            data: function() {
                return {
                    isExist: true
                }
            },
            template: `
                <div>
                    <life-cycle v-if="isExist"></life-cycle>
                    <button @click='isExist=!isExist'>控制子组件的创建销毁</button>
                    <hr/>
                </div>
            `
        }
        new Vue({
            el: '#life_cycle',
            components: {
                star: Star
            },
            template: `
                <star />
            `
        })
    </script>
</body>

</html>  